<h1 style="text-align:center">Post Details</h1>
<ul style="display:flex; flex-wrap:wrap;">
     
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Post created by <%= User.find(@post.user_id).name %></h5>
            <p class="card-text"><%= @post.content %></p>
          </div>
          
        </div>
</ul>